.app-header {
    background-color: var(--secondary-clr1);
    color: var(--clr5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
    margin-block-end: 20px;
    font-family: monospace;
    font-size: larger;
    font-weight: 700;
}

.app-header .header-nav {
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.app-header .header-nav a{
    /* min-height: 0; */
    line-height: 48px;
}

.header-nav .router-link-exact-active {
    color: whitesmoke;
}

@media (max-width: 720px) {
    .app-header {
        background-color: var(--clr3);
        color: var(--secondary-clr2);
    }
}
