.app-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
    min-height: 0;
    max-height: 60px;
    border-bottom: 1px solid rgb(227, 227, 227);
    padding-inline: 10px;
}

.main-title-container {
    position: relative;
    height: 100%;
}

.main-title-container .main-title{
  padding-inline-start: 40px;
}

.app-header .main-icon {
    position: absolute;
    width: 30px;
    bottom: -5px;
 
}

.app-header .header-nav {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding-block: 10px; */
    padding-inline: 30px;
    position: absolute;
    right: 8px;
    top: 58px;
    z-index: 5000;
    background-color: white;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.30);
    border-radius: 6px;
}

.app-header .burger-nav {
    width: 40px;
}

.header-nav > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-top: 15px;
}

.nav-icon {
    cursor: pointer;
}

.nav-icon:hover {
    /* background-color: #ececec; */
}

.app-header .header-nav img {
    width: 40px;
}

.header-nav .router-link-exact-active {
    color: var(--secondary-clr1);
}

@media (max-width: 720px) {
    /* .app-header {
        background-color: var(--clr3);
        color: var(--secondary-clr2);
    } */
}
