.filter-notes-section {
    position: relative;
}

.search-note {
    position: absolute;
    z-index: 3000;
    top: -105px;
    left: 30px;
}

.search-note input {
    background-color: #dbdbdb;
    height: 40px;
    width: 300px;
    /* box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.30); */
    padding-inline: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: .2s;
}

.search-note input:focus {
    background-color: #f7fcff;
    /* height: 50px; */
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.30);
    /* padding-inline: 10px; */
    /* border-radius: 8px; */
    /* border: none; */
    /* outline: none; */
}

.filter-icon-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 2000;
    padding: 20px;
    left: -15px;
    top: 60px;
}

.filter-icon-bar > *{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    /* min-width: 0; */
}

.filter-icon-bar .filter-item span {
    transform: translate(0 , 2px);
}

.filter-icon-bar>*:hover {
   background-color: #f0f0f0;
}

.filter-icon-bar .filter-item.active {
    background-color: #dbdbdb;
}