.add-note-inputs {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: auto;
}

.note-lists {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.pinned-list , .unpinned-list {
        column-count: 5;
        column-gap: 10px;
        margin: auto;
}

.note-preview {
    min-width: fit-content;
    border: 1px solid var(--clr5);
    border-radius: 4px;
    break-inside: avoid;
    margin: auto;
    margin-block-end: 10px;
    padding: 20px;
    color: var(--clr5)
}

.preview-controller {
    display: flex;
    /* border-top: 1px solid black; */
    margin-top: 10px;
    padding-top: 10px;
}

.preview-controller button {
   flex: 1;
   cursor: pointer;
    background-color: transparent;
    min-width: 0px;
    min-height: 0px;
    border: none;
}

.todos-list li  {
  display: flex;
  justify-content: space-between;
}

.todos-list li button {
    background-color: transparent;
    min-width: 0px;
    min-height: 0px;
    border: none;
}

/* /////////////////////////////////////// */

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}
 
.modal-container {
    /* width: fit-content; */
    max-width: 30%;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    color: var(--clr5);
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media (max-width: 1080px) {
    .pinned-list,
        .unpinned-list {
            column-count: 4;

        }
}

@media (max-width: 760px) {
    .pinned-list,
        .unpinned-list {
        column-count: 3;
    }
}

@media (max-width: 630px) {

    .pinned-list,
    .unpinned-list {
        column-count: 2;
    }
}

@media (max-width: 450px) {

    .pinned-list,
    .unpinned-list {
        column-count: 1;
    }
}