.email-app {
    display: grid;
    grid-template: 60px 1fr/ 250px 1fr;
    position: relative;
    gap: 10px;
    padding: 10px;
}

.email-folders {
    display: flex;
    flex-direction: column;
}

.email-folders button {
    border: 0;
    background-color: transparent;
    text-align: start;
    /* min-width: none; */
}

.email-list ul {
    background-color: #e2eaf1c2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.email-list ul li {
    width: 100%;
    /* height: 100%; */
}

.email-preview {
    /* text-align: center; */
    background-color: rgb(159, 159, 159);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(84, 83, 83);
    color: black;
    position: relative;
}

.email-preview .actions {
    position: absolute;
    top: 0;
    right: 0;
    /* background-color: blue; */
    /* width: 100%; */
    /* height: 100%; */
}

.email-preview .actions button {
    /* background-color: transparent; */
    border: 0;
    width: 12px;
    height: 12px;
}

.email-filter {
    background-color: #ffffff;
    border-radius: 7px;
    outline: 0;
    opacity: 0.2;
    transition: opacity 0.2s;
}

.email-filter:focus {
    color: #d2d0cb;
    opacity: 1;
}

.read {
    background-color: rgb(93, 93, 93);
}

.email-add {
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
}
